{% load staticfiles %}

<body>
{{ author_formset.management_form }}
{% for form in author_formset %}
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field.errors }}
            {% if forloop.parentloop.last %}
                <div class="last-authorfield-wrapper">
                    {{ field }}
                    <img class="add-formset-field" src="{% static "img/plus_icon.png" %}" />
                </div>
            {% else %}
                {{ field }}
            {% endif %}
        </div>
    {% endfor %}
{% endfor %}
</body>