{% extends "base.html" %}
{% load staticfiles %}

{% block title %}TerpBooks | Sell{% endblock %}
{% block extra_head %}
    <script>
        var FORMSET_URL = '{% url "author-formset" %}';
        var CSRF = '{{ csrf_token }}';
    </script>
    <script src="{% static "js/sell/main.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="row sell-form-container">
        {% if success_message %}
            <p class="bg-success">{{ success_message }}</p>
        {% endif %}
        {% if error_message %}
            <p class="bg-danger">{{ error_message }}</p>
        {% endif %}

        <form class="sell-form" method="post" action="{% url "sell" %}">
            {% csrf_token %}
            <div class="col-xs-6 sell-form-col">
                {% for field in book_form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field.errors }}
                        {{ field }}
                    </div>
                {% endfor %}

                {% for field in professor_form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field.errors }}
                        {{ field }}
                    </div>
                {% endfor %}


                <div class="author-formset-container">
                    {% include "sell/author_formset.html" %}
                </div>
            </div>

            <div class="col-xs-6 sell-form-col">
                {% for field in listing_form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field.errors }}
                        {{ field }}
                    </div>
                {% endfor %}
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
{% endblock %}
