{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
    <script>
        var YOUR_LISTINGS_URL = '{% url "profile-listings" %}';
    </script>
    <script src="{% static "js/profile/main.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-4 listing-list-container">
            <h3 class="profile-heading">Your Listings</h3>

        </div>

        <div class="col-sm-12 col-md-4 inbox-list-container">
            <h3 class="profile-heading">Inbox</h3>
        </div>
    </div>
{% endblock %}