{% extends "base.html" %}
{% load staticfiles %}

{% block title %}TerpBooks | Profile{% endblock %}
{% block extra_head %}
    <script>
        var YOUR_LISTINGS_URL = '{% url "profile-listings" %}';
        var INBOX_URL = '{% url "inbox" %}';
        var OUTBOX_URL = '{% url "outbox" %}';

        var CSRF = '{{ csrf_token }}';
    </script>
    <script src="{% static "js/profile/listings.js" %}"></script>
    <script src="{% static "js/profile/inbox.js" %}"></script>
    <script src="{% static "js/profile/outbox.js" %}"></script>
    <script src="{% static "js/profile/main.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="row hidden-sm hidden-xs">
        <div class="col-sm-12 col-md-4 listing-list-container">
            <h3 class="profile-heading">Your Listings</h3>
        </div>

        <div class="col-sm-12 col-md-4 inbox-list-container">
            <h3 class="profile-heading">Received Requests</h3>
        </div>

        <div class="col-sm-12 col-md-4 outbox-list-container">
            <h3 class="profile-heading">Sent Requests</h3>
        </div>
    </div>

    <ul class="nav nav-tabs visible-xs visible-sm profile-tabs">
        <li class="active"><a href="#listings" data-toggle="tab">Your Listings</a></li>
        <li><a href="#inbox" data-toggle="tab">Received Requests</a></li>
        <li><a href="#outbox" data-toggle="tab">Sent Requests</a></li>
    </ul>

    <div class="tab-content visible-xs visible-sm">
        <div class="tab-pane active" id="listings">

        </div>
        <div class="tab-pane" id="inbox">

        </div>
        <div class="tab-pane" id="outbox">

        </div>
    </div>

    <div class="modal fade" id="edit-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Listing</h4>
                </div>

                <div class="modal-body">

                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}