<body>
<div class="thread-container">
    <button class="btn btn-default inbox-back"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>

    <h4 class="thread-book-title">{{ thread.listing.book.title }}</h4>
    <h5 class="thread-book-asking">Asking price: <span>${{ thread.listing.asking_price }}</span></h5>

    <table class="message-thread-table">
    {% for message in thread.chron_messages %}
        <tbody>
            <tr>
                <td class="message-sender">
                    {% if message.created_by == user %}
                        You:
                    {% else %}
                        {{ message.created_by.username }}:
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>{{ message.text }}</td>
                <td class="message-price">${{ message.price }}</td>
            </tr>
            <tr>
                <td class="message-date">{{ message.date_created|date:"n/j/y g:i A" }}</td>
            </tr>
        </tbody>
    {% endfor %}
    </table>

    {% if thread.listing.is_available %}
        <form class="message-form" method="post" action="{% url "thread" thread.pk %}">
            {% csrf_token %}
            <h4>Submit a Counteroffer/Message</h4>
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field.errors }}
                    {{ field }}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-success">Submit</button>
            {% if user == thread.listing.owner %}
                <button class="btn btn-default mark-pend-btn" type="button" data-url="{% url "pending-listing" thread.listing.pk %}">Mark as Pending</button>
            {% endif %}
        </form>
    {% elif thread.listing.is_pending %}
        {% if user == thread.listing.owner %}
            <p>You've marked this listing as "pending" - messaging is now disabled.</p>
            <button class="btn btn-default mark-avail-btn" type="button" data-url="{% url "available-listing" thread.listing.pk %}">Mark as Available Again</button>
            <button class="btn btn-default mark-sold-btn" type="button" data-url="{% url "sold-listing" thread.listing.pk %}">Mark as Sold</button>
        {% else %}
            <p>The seller has marked this listing as "pending" - he/she has come to an agreement with you or another buyer to sell this book.
                New messages are now disabled.</p>
        {% endif %}
    {% elif thread.listing.is_sold %}
        <p>This listing has been sold.</p>
    {% endif %}
</div>
</body>