/* Navbar styles */

.navbar-default {
    background-color: #ff7373;
}

#top-nav-collapse {
    float: right;
}

@media(max-width: 767px) {
    #top-nav-collapse {
        float: none;
    }
}

#top-nav-collapse li > a {
    color: #006363;
}

#top-nav-collapse li > a:hover {
    color: #fff;
}

#top-nav-collapse li.active > a {
    background-color: #ff9640;
    color: #fff;
}

#top-nav-collapse li.active > a:hover {
    color: #006363;
}

.nav-logo {
    padding-left: 15px;
    max-height: 200%;
}

.navbar {
    margin-bottom: 0;
    overflow: visible;
    z-index: 100;
    border: none;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
}

/* Banner styles */

.banner {
    position: relative;
}

.banner .header-holder {
    position: absolute;
    left: 45px;
    bottom: 30%;
    z-index: 200;
}

.banner h1,
.banner h2,
.navbar-header > .xs-title {
    text-shadow:
        -1px -1px 0 #000,
        0 -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        0 1px 0 #000,
        1px 1px 0 #000;
    color: #fff;
}

.banner h1 {
    font-size: 45px;
    margin-bottom: 0;
}

.banner h2 {
    font-size: 25px;
    margin-top: 0;
}

.xs-title {
    margin: 0;
    font-size: 30px;
}

.navbar-header > .xs-title:hover {
    color: #fff;
}

/* Styles for filter/sort stuff buy.html */

.filter-container {
    padding: 10px 0;
    background-color: #eaeaea;
    text-align: center;
    margin: 0 auto;
}

@media(max-width: 1199px) {
    .filter-container > .col-lg-6:nth-child(2) {
        margin-top: 15px;
    }
}

.filter-container p {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
    vertical-align: top;
}

.listing-filter-wrapper {
    display: inline-block;
    margin-left: 20px;
}

.listing-filter-group {
    width: 130px;
    display: block;
    text-align: left;
    margin-top: 5px;
}

.listing-filter-wrapper > .listing-filter-group:first-child {
    margin-top: 0;
}

.listing-filter-group > .listing-filter {
    max-width: 125px;
    display: inline-block;
}

.listing-filter-group > .listing-filter:not(:first-child) {
    margin-top: 10px;
}

.add-filter-field {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: -5px 0 0 5px;
    cursor: pointer;
}

.filter-input, .semester-select {
    width: 150px;
    display: inline-block;
    margin-left: 15px;
}

.listing-sort {
    max-width: 165px;
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}

.filter-container button.btn-success {
    margin-left: 15px;
}

/* Styles for listing list stuff buy.html */

.listing-list-container {
    overflow-y: auto;
    max-height: 100%;
}

.listing-list {
    list-style-type: none;
    padding: 0;
}

.listing-list .listing {
    background-color: #ffd8b9;
    padding: 20px 0 20px 30px;
    cursor: pointer;
    border: 2px solid #999;
    border-top: 0;
}

.listing-list .listing.selection {
    background-color: #ffc596;
    border: 2px solid #0c0;
    border-top: 0;
}

.listing-list .paginator {
    background-color: #eee;
    padding: 15px;
    cursor: pointer;
    text-align: center;
}

.listing-list .paginator h4 {
    font-size: 15px;
    font-weight: 700;
    margin: 0;
}

@media (max-width: 991px) {
    .listing-list .listing.selection {
        background-color: #ffd8b9;
        border: 2px solid #999;
        border-top: 0;
    }
}

.listing h3 {
    margin: 0 0 10px 0;
    font-weight: 700;
    font-size: 20px;
}

.listing h4 {
    font-size: 15px;
    margin: 5px 0;
}

.listing h4.listing-price {
    color: #0c0;
}

.listing h4.listing-date {
    margin-bottom: 0;
    color: #999;
}

/* Styles for listing info stuff buy.html */

.listing-info {
    overflow-y: auto;
}

.listing-info > p {
    margin-left: 30px;
    font-size: 20px;
}

.listing-info > p > span {
    color: #0c0;
}

.listing-info > button.btn-success {
    margin: 20px 0 0 60px;
}

.listing-list > button.listing-back {
    margin-top: 20px;
}


/***********************************************
*
* Sell Page Styles
*
************************************************/

.sell-form-container {
    margin-top: 20px;
    text-align: center;
}

.sell-form-container p.bg-success,
.sell-form-container p.bg-danger {
    padding: 15px;
}

.sell-form > .sell-form-col {
    text-align: left;
}

.sell-form input[type="number"] {
    width: 25%;
}

.sell-form > button.btn-success {
    margin: 30px;
    font-size: 20px;
    padding: 10px;
}

.last-authorfield-wrapper {
    width: 100%;
}

.author-formset-container .last-authorfield-wrapper>input {
    display: inline-block;
    width: 50%;
}

.add-formset-field {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: -5px 0 0 5px;
    cursor: pointer;
}

/*********************************
*
* Profile page styles
*
***********************************/

.profile-heading {
    font-weight: 700;
}