/* Navbar styles */

.navbar-default {
    background-color: #ff7373;
}

#top-nav-collapse li > a {
    color: #006363;
}

#top-nav-collapse li > a:hover {
    color: #fff;
}

#top-nav-collapse li.active > a {
    background-color: #ff9640;
    color: #fff;
}

#top-nav-collapse li.active > a:hover {
    color: #006363;
}

.nav-logo {
    padding-left: 15px;
    max-height: 200%;
}

.navbar {
    margin-bottom: 0;
    overflow: visible;
    z-index: 100;
    border: none;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
}

/* Banner styles */

.banner {
    position: relative;
}

.banner .header-holder {
    position: absolute;
    left: 45px;
    bottom: 30%;
    z-index: 200;
}

.banner h1, h2 {
    text-shadow:
        -1px -1px 0 #000,
        0 -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        0 1px 0 #000,
        1px 1px 0 #000;
}

.banner h1 {
    font-size: 325%;
    color: #fff;
    margin-bottom: 0;
}

.banner h2 {
    font-size: 175%;
    color: #fff;
    margin-top: 0;
}

/* Styles for filter/sort stuff buy.html */

.filter-container {
    padding: 10px 0;
    margin: 0;
    background-color: #eaeaea;
    text-align: center;
}

.filter-field-wrapper {
    margin: 0 auto;
}

.filter-field-wrapper p {
    display: inline-block;
    font-size: 150%;
    font-weight: 700;
    margin-bottom: 0;
    vertical-align: top;
}

.listing-filter-wrapper {
    display: inline-block;
    margin-left: 20px;
}

.listing-filter-group {
    width: 130px;
    display: block;
    text-align: left;
    margin-top: 5px;
}

.listing-filter-wrapper > .listing-filter-group:first-child {
    margin-top: 0;
}

.listing-filter-group > .listing-filter {
    max-width: 125px;
    display: inline-block;
}

.listing-filter-group > .listing-filter:not(:first-child) {
    margin-top: 10px;
}

.add-filter-field {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: -5px 30px 0 5px;
    cursor: pointer;
}

.filter-input, .semester-select {
    width: 150px;
    display: inline-block;
    margin-left: 15px;
}

.filter-field-wrapper p:nth-of-type(2) {
    margin-left: 30px;
}

.listing-sort {
    max-width: 165px;
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}

/* Styles for listing list stuff buy.html */

.listing-list-container {
    overflow-y: auto;
    max-height: 100%;
}

.listing-list {
    list-style-type: none;
    padding: 0;
}

.listing-list .listing {
    background-color: #ffd8b9;
    padding: 20px 0 20px 30px;
    cursor: pointer;
    border: 2px solid #999;
    border-top: 0;
}

.listing-list .listing.selection {
    background-color: #ffc596;
    border: 2px solid #0c0;
    border-top: 0;
}

.listing h3 {
    margin: 0 0 10px 0;
    font-weight: 700;
    font-size: 150%;
}

.listing h4 {
    font-size: 110%;
    margin: 5px 0;
}

.listing h4.listing-price {
    color: #00cc00;
}

.listing h4.listing-date {
    margin-bottom: 0;
    color: #999;
}
