{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static "libs/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/styles.css" %}"/>

    <script src="{% static "libs/jquery-2.1.0.min.js" %}"></script>
    <script src="{% static "libs/bootstrap.min.js" %}"></script>

    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target="#top-nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand hidden-xs" href="{% url "splash" %}">
                        <img src="{% static "img/logo.png" %}" class="nav-logo"/>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="top-nav-collapse">
                    <ul class="nav navbar-nav">
                        <li {% if active == "buy" %}class="active"{% endif %}><a href="{% url "buy" %}">Buy</a></li>
                        <li {% if active == "sell" %}class="active"{% endif %}><a href="{% url "sell" %}">Sell</a></li>
                        <li {% if active == "profile" %}class="active"{% endif %}>
                            <a href="{% if user.is_authenticated %}{% url "profile" %}{% else %}{% url "login" %}{% endif %}">
                                {% if user.is_authenticated %}
                                Profile
                                {% else %}
                                Log In
                                {% endif %}
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url "logout" %}">Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% if not banner %}
            <div class="banner row">
                <img class="col-xs-12" src="{% static "img/banner.jpg" %}" />
                <div class="header-holder">
                    <h1 class="hidden-xs">TerpBooks</h1>
                    <h2 class="hidden-xs">Buy, sell, and trade textbooks for UMD classes.</h2>
                </div>
            </div>
        {% endif %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>