<h2>Listing Information</h2>

<dl class="dl-horizontal">
    <dt>Title:</dt>
    <dd>{{ listing.book.title }}</dd>
    <dt>Authors:</dt>
    <dd>
        {{ listing.book.authors_string }}
    </dd>
    <dt>Edition:</dt>
    <dd>
        {% if listing.book.edition %}
            {{ listing.book.edition }}
        {% else %}
            Not provided
        {% endif %}
    </dd>
    <dt>ISBN:</dt>
    <dd>
        {% if listing.book.isbn %}
            {{ listing.book.isbn }}
        {% else %}
            Not provided
        {% endif %}
    </dd>
    <dt>Course Code:</dt>
    <dd>
        {% if listing.book.course_code %}
            {{ listing.book.course_code }}
        {% else %}
            Not provided
        {% endif %}
    </dd>
    <dt>Semester:</dt>
    <dd>
        {% if listing.book.semester %}
            {{ listing.book.semester }}
        {% else %}
            Not provided
        {% endif %}
    </dd>
    <dt>Professor:</dt>
    <dd>
        {% if listing.book.professor %}
            {{ listing.book.professor }}
        {% else %}
            Not provided
        {% endif %}
    </dd>
    <dt>Comments:</dt>
    <dd>
        {% if listing.comments %}
            {{ listing.comments }}
        {% else %}
            Not provided
        {% endif %}
    </dd>
</dl>


<p>Asking Price: <span>${{ listing.asking_price }}</span></p>
<button type="button" class="btn btn-success">Contact Seller</button>
